* {
		/*box-sizing: border-box;*/
		margin: 0;
		padding: 0;
	}

    h1{
    	text-align:center;
    	margin-top: 5%;
    	margin-bottom: 15px;
    	font-family: "Franklin Gothic Medium";
    }

	div{
  
		background: gray;
		
	    border: 1px solid black;
      
      overflow: hidden;
  
     /* text-align: center;*/
     
        margin: 10px;

	}
	p.texto{
		display: inline-table;

		margin: 10px;
       font-size: 20px;
      padding: 10px;
  
        text-align: justify;
        font-family: "Monotype Corsiva";
	}
	
/*
/*Desktop version >992px*/

@media (min-width: 992px){
.widthLG3 {
		float: left;
	}
	.widthLG3 {
		width: 30%;

	}
	#left{
display:inline-block;
    margin-right:20px;
}
#cent {
  display:inline-block;
  margin-right:20px;
}
#right {
display:inline-block;
 margin-right:20px;
}
}
@media (min-width: 768px) and (max-width: 991px){
.widthMD6{
	float: left;
}
.pop{
	width: 45%;
}
.hello{
	width: 92.4%;
}

}

@media (max-width: 767px){
	.widthMD6{
		margin: 10px;
	}
}

#t1
{
	width: 70px;
	height: 20px;
background: #1EBCD5;
float: right;
 border: 1px solid black;
}
#t2
{
	width: 70px;
	height: 20px;
background: #E56C19;
float: right;
 border: 1px solid black;
}
#t3
{
	width: 70px;
	height:20px;
background: #C019E5;
float: right;
 border: 1px solid black;
}


#container{
	background: blue;
            text-align: center;
	width: 100%;
	background: white;
	border: none;
	text-align: center;
}

